* {
  box-sizing: border-box;
  background-color: #f1eee9;
}

.item-body {
  padding: 15px;
}

.item-body img {
  border-radius: 5px;
}

.reddit-list {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.reddit-item {
  width: 30%;
  border: 1px solid #73777b;
  margin: 15px;
  padding: 10px;
}

.reddit-item h2 {
  font-size: 20px;
}

a {
  color: #383838;
  text-decoration: none;
}

p {
  font-size: 15px;
  font-weight: 500;
}

a:visited {
  color: #cc704b;
}

a:hover {
  color: #ec994b;
}

.loading {
  font-size: 15px;
  margin: 20px 0px 20px 30px;
  color: #cc704b;
  font-weight: 500;
}
